@model IEnumerable<Zawodnicy.WebApp.Models.ZawodnikVM>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrenera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kraj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wzrost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTrenera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kraj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wzrost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waga)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
